.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}
.answer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22rem;
  border-radius: 0.5rem;
  background-color: #171717;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 2rem;
  height: 3.5rem;
}
.containerCenter {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4rem;
  justify-content: center;
}
input {
  border: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #171717;
  padding: 1rem;
  width: 21rem;
}
input:focus {
  outline: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
a {
  color: white;
}
footer h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
